.clear {
	clear: both;
}

html, body {
    margin: 0;
    padding: 0;
	font-family: verdana;
}

#logo {
    width: 400px;
    height: 135px;
    padding: 16px 0px 8px 16px;
}


#nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
	
	border-top:	2px solid #c10560;
	border-bottom: 2px solid #c10560;
}

li a{
    display: block;
    float: left;
    width: 128px;
    height: 32px;
    padding: 14px;
    text-align: center;
    line-height: 32px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: Cabin, verdana;
}

li a:hover {
    background-color: #111;
}

li a.current, a.current:hover {
	background-color: #CE0767;
}