#navholder {
    width: 606px;
    height: 25px;
    background-image: url("../images/site_nav_back.png");
    background-repeat: repeat-x;
}
#navholder #nav li {
    margin: 0px;
    padding: 0px;
    float: left;
    display: inline;
    list-style-type: none;
}

#navborder {
    padding: 20px;
    margin: 0;
}

#nav {
    margin: 0;
    padding: 0;
}
#nav a {
    border-left: 1px, solid, #777;
    font-family: 'Cabin', sans-serif;
    font-size: 12px;
    text-decoration: none;
    letter-spacing: 2px;
    text-align: center;
    display: block;
    height: 21px;
    width: 120px;
    padding-top: 4px;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #777;

}
#navright {
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #777;
}
#nav a:hover {
    background-image: url(../images/site_nav_back_on.png);
    background-repeat: repeat-x;
}

.clear {
    clear: both;
}